.editor{
    width: 80%;
    height: 80vh;
    margin: 3rem auto;
}

.editor .editor-main{
    width: 80%;
    height: 30rem;
    background-color: white;
    border-radius: 10px;
    margin: 2rem auto;
}




@media (max-width: 780px) {
    .editor{
        width: 100%;
    }
}