.counter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter .counter-main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.counter .counter-main .chart{
    width: 22rem;
    height: 26rem;
    margin: 0.5rem auto;
}

.counter .counter-buttons{
    width: 50%;
    margin: 0.7rem auto;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: rgb(255, 59, 59);
}

.counter .counter-buttons button{
    width: 10rem;
    height: 3rem;
}

@media (max-width: 780px) {
    .counter{
        width: 100%;
    }
}